<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="BindingType" value="TCP" />
  </appSettings>
  <connectionStrings>
    <add name="DashboardEntities" connectionString="metadata=res://*/DashboardModel.csdl|res://*/DashboardModel.ssdl|res://*/DashboardModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Platform;User ID=PlatformDashboard;Password=7tuqUyaqa6aswu75;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OracleDbContext" connectionString="metadata=res://*/SonataModel.csdl|res://*/SonataModel.ssdl|res://*/SonataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;User Id=SONTESTRO;Password=strodvb02;Data Source=10.155.107.19:1551/SONDVB02;Connection Timeout=120;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" />
    </diagnostics>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DashboardBusinessServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="67108864" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="SecureNetTcpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="67108864" maxConnections="10" maxReceivedMessageSize="67108864">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!-- Net TCP Endpoints -->
      <endpoint address="net.tcp://localhost:50003/Accelerator.Dashboard.Services/SearchService.svc" name="ISearchService_TCP" binding="netTcpBinding" bindingConfiguration="SecureNetTcpBinding" behaviorConfiguration="DashboardBusinessServiceBehavior" contract="Accelerator.Dashboard.Services.Contracts.ServiceContracts.ISearchService" />
      <endpoint address="net.tcp://localhost:50003/Accelerator.Dashboard.Services/SecurityService.svc" name="ISecurityService_TCP" binding="netTcpBinding" bindingConfiguration="SecureNetTcpBinding" behaviorConfiguration="DashboardBusinessServiceBehavior" contract="Accelerator.Dashboard.Services.Contracts.ServiceContracts.ISecurityService" />
      <endpoint address="net.tcp://localhost:50003/Accelerator.Dashboard.Services/DashboardService.svc" name="IDashboardService_TCP" binding="netTcpBinding" bindingConfiguration="SecureNetTcpBinding" behaviorConfiguration="DashboardBusinessServiceBehavior" contract="Accelerator.Dashboard.Services.Contracts.ServiceContracts.IDashboardService" />
      <endpoint address="net.tcp://localhost:50003/Accelerator.Dashboard.Services/AccountService.svc" name="IAccountService_TCP" binding="netTcpBinding" bindingConfiguration="SecureNetTcpBinding" behaviorConfiguration="DashboardBusinessServiceBehavior" contract="Accelerator.Dashboard.Services.Contracts.ServiceContracts.IAccountService" />
      <endpoint address="net.tcp://localhost:50003/Accelerator.Dashboard.Services/AccountInvestmentService.svc" name="IAccountInvestmentService_TCP" binding="netTcpBinding" bindingConfiguration="SecureNetTcpBinding" behaviorConfiguration="DashboardBusinessServiceBehavior" contract="Accelerator.Dashboard.Services.Contracts.ServiceContracts.IAccountInvestmentService" />        
      <endpoint address="net.tcp://localhost:50003/Accelerator.Dashboard.Services/PortfolioViewService.svc" name="IPortfolioViewService_TCP" binding="netTcpBinding" bindingConfiguration="SecureNetTcpBinding" behaviorConfiguration="DashboardBusinessServiceBehavior" contract="Accelerator.Dashboard.Services.Contracts.ServiceContracts.IPortfolioViewService" />
      <endpoint address="net.tcp://localhost:50003/Accelerator.Dashboard.Services/FixedBusinessCardService.svc" name="IFixedBusinessCardService_TCP" binding="netTcpBinding" bindingConfiguration="SecureNetTcpBinding" behaviorConfiguration="DashboardBusinessServiceBehavior" contract="Accelerator.Dashboard.Services.Contracts.ServiceContracts.IFixedBusinessCardService" />
      <endpoint address="net.tcp://localhost:50003/Accelerator.Dashboard.Services/BreadcrumbsService.svc" name="IBreadcrumbsService_TCP" binding="netTcpBinding" bindingConfiguration="SecureNetTcpBinding" behaviorConfiguration="DashboardBusinessServiceBehavior" contract="Accelerator.Dashboard.Services.Contracts.ServiceContracts.IBreadcrumbsService" />
      <endpoint address="net.tcp://localhost:50003/Accelerator.Dashboard.Services/AssetService.svc" name="IAssetService_TCP" binding="netTcpBinding" bindingConfiguration="SecureNetTcpBinding" behaviorConfiguration="DashboardBusinessServiceBehavior" contract="Accelerator.Dashboard.Services.Contracts.ServiceContracts.IAssetService" />
      <endpoint address="net.tcp://localhost:50003/Accelerator.Dashboard.Services/LocationService.svc" name="ILocationService_TCP" binding="netTcpBinding" bindingConfiguration="SecureNetTcpBinding" behaviorConfiguration="DashboardBusinessServiceBehavior" contract="Accelerator.Dashboard.Services.Contracts.ServiceContracts.ILocationService" />
      <endpoint address="net.tcp://localhost:50003/Accelerator.Dashboard.Services/RedirectionService.svc" name="IRedirectionService_TCP" binding="netTcpBinding" bindingConfiguration="SecureNetTcpBinding" behaviorConfiguration="DashboardBusinessServiceBehavior" contract="Accelerator.Dashboard.Services.Contracts.ServiceContracts.IRedirectionService" />
      <endpoint address="net.tcp://localhost:50003/Accelerator.Dashboard.Services/CustomPagesService.svc" name="ICustomPagesService_TCP" binding="netTcpBinding" bindingConfiguration="SecureNetTcpBinding" behaviorConfiguration="DashboardBusinessServiceBehavior" contract="Accelerator.Dashboard.Services.Contracts.ServiceContracts.ICustomPagesService" />
      <endpoint address="net.tcp://localhost:50003/Accelerator.Dashboard.Services/DynamicReportService.svc" name="IDynamicReportService_TCP" binding="netTcpBinding" bindingConfiguration="SecureNetTcpBinding" behaviorConfiguration="DashboardBusinessServiceBehavior" contract="Accelerator.Dashboard.Services.Contracts.ServiceContracts.IDynamicReportService" />
    </client>
  </system.serviceModel>
  <system.data>
      <DbProviderFactories>
          <remove invariant="Oracle.ManagedDataAccess.Client" />
          <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
          <publisherPolicy apply="no" />
          <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
          <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0" />
      </dependentAssembly>
      <dependentAssembly>
          <publisherPolicy apply="no" />
          <assemblyIdentity name="Oracle.ManagedDataAccessDTC" publicKeyToken="89b483f429c47342" culture="neutral" />
          <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Validation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.266.0" newVersion="2.1.266.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>